/* Style pour la colonne */
.col-lg-5 {
    height: 100%; /* Définit la hauteur de la colonne à 100% */
    padding: 0; /* Supprime tout espacement intérieur de la colonne */
  }
  
  /* Style pour l'image de connexion */
  .login_img {
    width: 100%; /* Définit la largeur de l'image à 100% */
    height: 100%; /* Définit la hauteur de l'image à 100% */
    object-fit: cover; /* Redimensionne l'image pour qu'elle remplisse complètement son conteneur en conservant les proportions */
  }
  